header h1 {
  color: #E89551;
}

header {
  text-align: center;
  background-color: #D1D7EB;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 50px;
}

h2 {
  color: #3B9E36;
}

img {
  width: 300px;
  border: 2px solid black;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#experience {
  border: 1px solid black;
  background-color: #D7F5BA;
  margin: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 50px;
}

#experience li {
  list-style: none;
  font-size: 18px;
}

#experience h2 {
  padding-left: 40px;
}

#about-me {
  background-color: #F5C0FA;
  border: 2px solid silver;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 10px 10px 50px;
}

#about-me p {
  font-size: 20px;
  font-family: verdana;
}

#about-me p span {
  font-size: 25px;
  color: red;
}

